# Environment
NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=mailer_user
DB_PASSWORD=mailer_password
DB_NAME=mailer_db

# Redis / Queue
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# Integration tests
TEST_DB_NAME=_mailer_db_test
TEST_REDIS_DB=15
SMTP_TEST_HOST=sandbox.smtp.mailtrap.io
SMTP_TEST_PORT=587
SMTP_TEST_USERNAME=3c51249b45b9d3
SMTP_TEST_PASSWORD=7f7ce58ea81be2
SMTP_TEST_FROM_EMAIL=3c51249b45b9d3@mailtrap.io
SMTP_TEST_FROM_NAME=3c51249b45b9d3

# Security
SMTP_ENCRYPTION_KEY=supersecret32characterkey1234567
JWT_SECRET=dev-jwt-secret-change-in-production
JWT_EXPIRY=24h

# Frontend / Dashboard
WEB_URL=http://localhost:3001
